@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

#mainTitle{
	letter-spacing: 40px;
	text-transform: uppercase;
	display: block;
	margin: 20% auto;
	width: 100%;
	text-align: center;
	position: fixed;
	top : 0;
	left: 0;
	background-color: transparent;
	color: white;
	z-index: 6;
	transition : opacity 1.5s ease-in-out, letter-spacing 4s ease-in, filter 3.5s ease-out, -webkit-filter 0.8s ease-out;
	opacity: 1;

	-webkit-filter: blur(0); -moz-filter: blur(0);
	filter: blur(0);
}

#mainTitle h1{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size : 60px;
	display: block;
	margin: auto;
}

#blackCache{
	display: block;
	position: fixed;
	top : 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background-color: black;
	opacity: 1;

	transition : opacity 2s ease-in-out;
}

#blackCache.disappear, #mainTitle.disappear{
	opacity: 0;
}

#mainTitle.disappear{
	letter-spacing: 100px;
	-webkit-filter: blur(5px); -moz-filter: blur(5px);
	filter: blur(5px);
}

#layer-2d{
	width: 100%;
    height: 100%;
    position: absolute;
    top :0;
    left: 0;

    perspective: 1000;
	transform-style: preserve-3d;
}

.model-2d{
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0.75;

	transform-origin: 50% 50%;
	transform-style: preserve-3d;
	transition: transform 0.8s ease-out, filter 0.8s ease-out, -webkit-filter 0.8s ease-out, top 8s ease-in-out;
}

.model-2d[data-model-type="circle"]{
	background-color: #5588CC;
	border-radius : 50%;
}

.model-2d[data-model-type="circle"]:after{
	position: absolute;
	content : "";
	display:block;
	border-radius : 50%;
	width: 100%;
	height :100%;
	//background-image: url('../bgcircle.png') !important;
	background-size: cover;
	opacity: 0.3;
}

#main-character{
	top : -260px;
	left : calc(50% - 125px);

	background: #553b33; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #553b33 0%, #6c4f3e 48%, #b06f46 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#553b33), color-stop(48%,#6c4f3e), color-stop(99%,#b06f46)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #553b33 0%,#6c4f3e 48%,#b06f46 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #553b33 0%,#6c4f3e 48%,#b06f46 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #553b33 0%,#6c4f3e 48%,#b06f46 99%); /* IE10+ */
	background: linear-gradient(45deg,  #553b33 0%,#6c4f3e 48%,#b06f46 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#553b33', endColorstr='#b06f46',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	border :rgba(0,0,0,0.3) 2px solid;
	-webkit-filter: grayscale(90%); -moz-filter: grayscale(90%);
	filter: grayscale(90%);
}

#main-character.pushed{
	-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

#main-character.here{
	top : calc(50% - 125px);
}

.model-2d:hover{
	cursor: pointer;
}

.pushed{
	transform: rotateX(450deg) scale(0.05);
}

.hidden{
	display : none !important;
}